@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-btn-shadow {
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.hover-btn-shadow:hover {
  --tw-translate-x: 0.25rem;
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.drawer {
  position: relative;
  display: grid;
  grid-auto-columns: max-content auto;
  width: 100%;
  z-index: 1000
}

.drawer-content {
  grid-column-start: 2;
  grid-row-start: 1
}

.drawer-side {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  align-items: flex-start;
  justify-items: start;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 100vh;
  height: 100dvh;
  scrollbar-width: none
}

.drawer-side::-webkit-scrollbar {
  display: none
}

.drawer-side>.drawer-overlay {
  position: sticky;
  top: 0;
  place-self: stretch;
  cursor: pointer;
  background-color: transparent;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  transition-duration: .2s
}

.drawer-side>* {
  grid-column-start: 1;
  grid-row-start: 1
}

.drawer-side>:not(.drawer-overlay) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  transition-duration: .3s;
  transform: translateX(-100%)
}

[dir=rtl] .drawer-side>:not(.drawer-overlay) {
  transform: translateX(100%)
}

.drawer-toggle {
  position: fixed;
  height: 0;
  width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0
}

.drawer-toggle:checked~.drawer-side {
  pointer-events: auto;
  visibility: visible
}

.drawer-toggle:checked~.drawer-side>:not(.drawer-overlay) {
  transform: translateX(0)
}

.drawer-end .drawer-toggle~.drawer-content {
  grid-column-start: 1
}

.drawer-end .drawer-toggle~.drawer-side {
  justify-items: end
}

.drawer-end .drawer-toggle~.drawer-side>:not(.drawer-overlay) {
  transform: translateX(100%)
}

[dir=rtl] .drawer-end .drawer-toggle~.drawer-side>:not(.drawer-overlay) {
  transform: translateX(-100%)
}

.drawer-end .drawer-toggle:checked~.drawer-side>:not(.drawer-overlay) {
  transform: translateX(0)
}